<app-main-pages-header [title]="'Messages'" [hasBackBtn]="false" [hasExternalBtn]="false" [hasSearchBtn]="false">
</app-main-pages-header>

<ion-content>

  <ion-refresher slot="fixed" [pullFactor]="0.5" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="chats.length > 0; else elseBlock">
    <app-chat-item *ngFor="let chat of chats" [chatItem]="chat">
    </app-chat-item>
  </ion-list>

  <ng-template #elseBlock>
    <app-empty-state type="no-message" title="No messages"
      message="Make sure you Chat with someone to have them appear here"></app-empty-state>
  </ng-template>

</ion-content>
