<ion-content class="ion-padding">
  <ion-grid>
    <!-- App logo -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <img src="assets/images/logo-with-bottom-text.png" alt="App logo" />
      </ion-col>
    </ion-row>
    <!-- Text -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <h1 class="ion-text-center">Welcome back!</h1>
        <h5>Login to your account</h5>
      </ion-col>
    </ion-row>
    <!-- email -->
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <app-input [type]="'email'" [label]="'Email'" [(value)]="email">
        </app-input>
      </ion-col>
    </ion-row>
    <!-- password -->
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <app-input [type]="'password'" [label]="'Password'" [(value)]="password">
        </app-input>
      </ion-col>
    </ion-row>
    <!-- login button -->
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button expand="block" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
    <!-- Dont have an account -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <p class="ion-text-center">Don't have an account? <a routerLink="/register">Registe here</a></p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
