.card-header {
  display: flex;
  align-items: center;
  gap: 16px
}

.profile-picture {
  width: 72px;
  height: 72px;
  background-color: lightgray;
  border-radius: 100%;
}

.card-title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.user-information-wrapper {
  display: flex;
}

.user-info-list {
  width: 49%;
}

.divider {
  width: 1px;
  height: 180px;
  align-self: center;
  background-color: #000;
}
