.message-input {
  display: flex;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 80%;
  height: auto;
}

.self-message {
  background-color: #83C5BE;
  border-radius: 10px 10px 10px 0;
  color: #fff;
  margin: 0 0 0 10px;
}

.message > div {
  width: 75%;
}

.message > div:last-child {
  align-self: flex-end;
}

.message > div > p {
  margin: 0;
  width: 80%;
}

.other-message {
  background-color: #d44747;
  border-radius: 10px 10px 10px 0;
  color: #000;
  margin: 0 0 0 10px;
  padding: 10px;
  width: 80%;
}
