<ion-header>
  <ion-toolbar>
    <ion-item color="primary">
      <ion-avatar>
        <img src="assets/images/profile-picture-placeholder.jpg">
      </ion-avatar>
      <ion-title>Username</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <div>
      <span>Hi</span>
    </div>
    <div>2-2-2222</div>
  </div>

</ion-content>

<ion-footer>
  <div class="message-input">
    <ion-input type="text" placeholder="Type your message"></ion-input>
    <ion-button>
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
