<ion-card>

  <ion-card-header class="card-header">
    <div class="profile-picture">
      <img [src]="user.userDetails.profile_picture_url" alt="profile picture">
    </div>
    <ion-card-title class="card-title" (click)="onUsernameClick()">{{user.userDetails.username}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- Graph to display -->
    <div class="graph-wrapper">
      <app-line-graph></app-line-graph>
    </div>
    <!-- User infomation -->
    <div class="user-information-wrapper">

      <ion-list lines="none" class="user-info-list">
        <ion-item>
          <ion-label>{{user.userDetails.relationship_status}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Number of kids: {{user.userDetails.nbr_of_children}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Income: {{user.userDetails.income}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Outcome: {{user.userDetails.outcome}}</ion-label>
        </ion-item>
      </ion-list>

      <div class="divider"></div>

      <ion-list lines="none" class="user-info-list">
        <ion-item>
          <ion-label>{{location}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{user.userDetails.work_feild === 'NA' ? 'No job' : user.userDetails.work_feild}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{user.userDetails.job_title === 'NA' ? 'No job title' : user.userDetails.job_title}}</ion-label>
        </ion-item>
      </ion-list>

    </div>

    <!-- Card footer -->
    <div class="card-footer">
      <ion-button color="primary" fill="clear">
        <ion-label>Unfavorite</ion-label>
      </ion-button>
      <ion-button color="primary" fill="clear">
        <ion-icon icon="send"></ion-icon>
      </ion-button>
    </div>

  </ion-card-content>
</ion-card>
