<ion-modal [isOpen]="isModalOpen">
  <ng-template>

    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="" (click)="setOpen(false)">Close</ion-back-button>
        </ion-buttons>
        <ion-title>Send Feedback</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-item [counter]="true">
              <ion-label position="floating">Feedback</ion-label>
              <ion-textarea [autoGrow]="true" maxlength="255" placeholder="message..." [(ngModel)]="message">
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="sendFeedback()">Send</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-content>


  </ng-template>
</ion-modal>
