<app-main-pages-header [title]="'Favorites'" [hasBackBtn]="false" [hasExternalBtn]="false" [hasSearchBtn]="true"
  (clickEmmiter)="openSearch()">
</app-main-pages-header>

<ion-content>
  <div *ngIf="favorites.length !== 0; else elseBlock">
    <app-user-info-card *ngFor="let favorite of favorites" [user]="favorite"
      (handleFavoriting)="favorite.isFavorited ? unFavoriteUser(favorite.userDetails.id) : favoriteUser(favorite.userDetails.id)">
    </app-user-info-card>
  </div>

  <ng-template #elseBlock>
    <app-empty-state type="star" title="No Favorites"
      message="Make sure you favorite someone in the home page so they show up here."></app-empty-state>
  </ng-template>

  <app-search-modal [(isModalOpen)]="isModalOpen"></app-search-modal>

</ion-content>
