<app-main-pages-header [title]="'Favorites'" [hasBackBtn]="false" [hasExternalBtn]="false" [hasSearchBtn]="true"
  (clickEmmiter)="openSearch()">
</app-main-pages-header>

<ion-content>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>
</ion-content>
