@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: local("RobotoRegular"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bold-text {
  font-family: "RobotoBold", sans-serif !important;
}
