<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-user-profile-info-card [type]="'other'"></app-user-profile-info-card>

  <!-- Statistics card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Statistics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-line-graph></app-line-graph>
      <app-line-graph></app-line-graph>
      <!-- TODO: Added the list of gategories and how much the user spent in it -->
      <app-line-graph></app-line-graph>
      <!-- TODO: Added the list of incomes of the user -->
    </ion-card-content>
  </ion-card>

</ion-content>
