<app-main-pages-header [title]="'User profile'" [hasBackBtn]="true" [hasExternalBtn]="false" [hasSearchBtn]="false"
  [parent]="'main'">
</app-main-pages-header>

<ion-content>

  <app-user-profile-info-card [type]="'other'" [user]="user"></app-user-profile-info-card>

  <!-- Statistics card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Statistics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-bar-graph [title]="'Savings'" [data]="user.history"></app-bar-graph>
      <app-bar-graph [title]="'Income'" [data]="user.history"></app-bar-graph>
      <!-- TODO: Added the list of gategories and how much the user spent in it -->
      <app-bar-graph [title]="'Outcome'" [data]="user.history"></app-bar-graph>
      <!-- TODO: Added the list of incomes of the user -->
    </ion-card-content>
  </ion-card>

</ion-content>
