<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/profile/receipts"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Receipt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <ion-grid>

    <ion-row>
      <ion-col>
        <app-input [label]="'Title'"></app-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-date-picker [label]="'Date'"></app-date-picker>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-input [label]="'Amount'"></app-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-dropdown-list [title]="'Category'" [placeholder]="'Select category'" [options]="categoryTypes"
          (valueEmmiter)="changeCategory($event)">
        </app-dropdown-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-radio-group [title]="'Type'"></app-radio-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary">Add</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
