<app-main-pages-header [title]="'Home'" [hasBackBtn]="false" [hasExternalBtn]="false" [hasSearchBtn]="true"
  (clickEmmiter)="openSearch()">
</app-main-pages-header>

<ion-content>

  <ion-accordion-group>
    <ion-accordion>

      <ion-item slot="header">
        <ion-label>Filters</ion-label>
      </ion-item>


    </ion-accordion>
  </ion-accordion-group>

  <app-user-info-card (usernameClick)="openUserProfile($event)"></app-user-info-card>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>
  <app-user-info-card></app-user-info-card>

  <app-search-modal [(isModalOpen)]="isModalOpen"></app-search-modal>

</ion-content>
