<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>

      <div class="card-header">
        <ion-avatar slot="start">
          <img src="assets/images/profile-picture-placeholder.jpg" />
        </ion-avatar>
        <ion-label>
          <h1 class="">username</h1>
        </ion-label>
        <ion-button expand="block">Edit</ion-button>
      </div>

    </ion-card-header>
  </ion-card>

</ion-content>
