<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <!-- Card header -->
    <ion-card-header>
      <div class="card-header">
        <ion-avatar slot="start">
          <img src="assets/images/profile-picture-placeholder.jpg" />
        </ion-avatar>
        <ion-label>
          <h1 class="">username</h1>
        </ion-label>
        <ion-button expand="block" (click)="openPage('edit_profile')">Edit</ion-button>
      </div>
    </ion-card-header>
    <!-- Card content -->
    <div class="user-information-wrapper">

      <ion-list lines="none" class="user-info-list">
        <ion-item>
          <ion-label>Living at: location</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Works at: location</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Work field: feild</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Job title: title</ion-label>
        </ion-item>
      </ion-list>

      <div class="divider"></div>

      <ion-list lines="none" class="user-info-list">
        <ion-item>
          <ion-label>Relationship status</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Number of kids</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Income</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Outcome</ion-label>
        </ion-item>
      </ion-list>

    </div>
  </ion-card>
  <!-- View receipts button -->
  <ion-button expand="block" class="ion-margin" (click)="openPage('receipts')">View receipts</ion-button>
  <!-- Statistics card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Statistics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-line-graph></app-line-graph>
      <app-line-graph></app-line-graph>
      <app-line-graph></app-line-graph>
    </ion-card-content>
  </ion-card>

</ion-content>
