.save-btn {
  --background: #83C5BE;
}

.header-content {
  display: flex;
  margin-right: 16px;
}

ion-content {
  --background: #F2F5F8;
}

ion-thumbnail {
  --size: 150px;
  --border-radius: 100%;
  margin: auto;
}
