.save-btn {
  --background: #83C5BE;
}

.header-content {
  display: flex;
  margin-right: 16px;
}

ion-content  {
  --background: #F2F5F8;
}

ion-thumbnail {
  --size: 150px;
  --border-radius: 100%;
  margin: auto;
}

.thumbnail {
position: relative;
}

.thumbnail > img {
  filter: brightness(75%);
}

.thumbnail > input {
  display: none;
}

.thumbnail > label {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background: rgb(131, 197, 190, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
}

.camera-icon {
  font-size: 52px;
}

.list-header {
  font-weight: bold;
}

.location-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
