<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/profile"></ion-back-button>
    </ion-buttons>

    <div class="header-content">
      <ion-title>Edit profile</ion-title>
      <ion-button class="save-btn" expand="block"> save </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-thumbnail class="thumbnail">
          <img alt="Profile" src="assets/images/profile-picture-placeholder.jpg" />
          <input type="file" accept="image/png, image/gif, image/jpeg" name="image" id="image">
          <label for="image">
            <ion-icon name="camera" class="camera-icon"></ion-icon>
          </label>
        </ion-thumbnail>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="list-header">Personal information</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-input [label]="'Username'"></app-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="location-wrapper">
          <ion-label>Current location: Here</ion-label>
          <ion-button expand="block">Update</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <app-input [label]="'Number of childern'"></app-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <app-dropdown-list [title]="'Relationship status'" [placeholder]="'Select'"></app-dropdown-list>
      </ion-col>
      <ion-col size="6">
        <app-dropdown-list [title]="'Education feild'" [placeholder]="'Select feild'"></app-dropdown-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="list-header">Financial information</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-input [label]="'Job location'"></app-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-input [label]="'Job title'"></app-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-dropdown-list [title]="'Job feild'" [placeholder]="'Select job'"></app-dropdown-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-input [label]="'Yearly salary'"></app-input>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
