<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/profile"></ion-back-button>
    </ion-buttons>

    <div class="header-content">
      <ion-title>Edit profile</ion-title>
      <ion-button class="save-btn" expand="block"> save </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-thumbnail class="thumbnail">
          <img alt="Profile" src="assets/images/profile-picture-placeholder.jpg" />
          <input type="file" accept="image/png, image/gif, image/jpeg" name="image" id="image">
          <label for="image">
            <ion-icon name="camera" class="camera-icon"></ion-icon>
          </label>
        </ion-thumbnail>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
